/* Navbar link default */
.navbar .nav-link {
  font-weight: 500;
  color: #9f4e4e;
  padding: 8px 14px;
  border-radius: 6px;
  transition: all 0.3s ease;
}

/* Hover effect */
.navbar .nav-link:hover {
  background-color: #5f99c2;
  color: #0d6efd;
}

/* Active link */
.active-link .nav-link {
  background-color: #0d6efd;
  color: white !important;
  font-weight: 600;
  border-radius: 6px;
}
