  h3{
    background-color:darkcyan ;
    padding: 10px;
  }

  .para{
    margin: 10px;
    padding: 10px;
    background-color: white;
  }

  mat-card{
    background-color:darkcyan;
    margin-bottom: 10px;
    cursor: pointer;
  }

 

  